body {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 243, 0.65),
      rgba(255, 255, 243, 0.65)
    ),
    url("img/logo veterinaria con nombre.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}

.fondo {
  background-color: #fffff3;
}

#descripcion {
  text-align: center;
}

.titulo {
  text-align: center;
  box-sizing: border-box;
  color: #573529;
  font-size: 50px;
  font-family: "snap ITC";
  margin: 30px 0px 50px;
}

.bienvenida {
  display: grid;
  place-items: center;
  margin: 0px;
}

.bienvenida-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.formulario {
  margin-top: 10px;
  margin-bottom: 60px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.input {
  background-color: #8eb540;
  width: 780px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
}

.input-1 {
  background-color: #8eb540;
  width: 325px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
}

.input-2 {
  background-color: #8eb540;
  width: 380px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
}

.label {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
}
.label-1 {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
  text-align: center;
}

.label-2 {
  color: rgb(87, 53, 41);
  font-family: "snap ITC";
  font-size: 28px;
}

[type="checkbox"] {
  display: none;
}

.label-check {
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(87, 53, 41);
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  left: 0px;
}

.label-check::before {
  content: "";
  width: 26px;
  height: 26px;
  display: inline-block;
  background: #8eb540;
  border: 2px solid #573529;
  border-radius: 4%;
  cursor: pointer;
  transition: all 0.2s;
  transform: rotate(0deg);
}

[type="checkbox"]:checked + label:before {
  border-color: #573529;
  background-color: #8eb540;
  content: "\f00c";
  color: #573529;
  font-family: FontAwesome;
  font-size: 26px;
  transform: rotate(360deg);
}

.ul-botones {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.botones {
  display: block;
  text-align: center;
}

.links {
  font-family: "snap ITC";
}

a:link {
  color: rgb(87, 53, 41);
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
  margin: 20px 10px;
}

a:hover {
  background-color: rgb(142, 181, 64);
  border: 2px solid;
  border-radius: 10px;
}

a:visited {
  color: rgb(87, 53, 41);
}

.manejo-errores {
  display: inline-block;
  visibility: hidden;
  display: grid;
  place-items: center;
  border: 2px solid rgb(142, 181, 64);
  background-color: rgb(255, 255, 243);
}

.texto-interno {
  color: rgb(87, 53, 41);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.salir-ventana-emergente,
.botones-sistema {
  border: 2px solid rgb(142, 181, 64);
  border-radius: 10px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  background-color: rgb(142, 181, 64);
  color: rgb(87, 53, 41);
}

.salir-ventana-emergente:hover,
.botones-sistema:hover {
  background-color: rgb(87, 53, 41);
  color: rgb(142, 181, 64);
  font-weight: bolder;
}
.botones-sistema {
  margin: 0px 20px;
}
